[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "modnets"]
	path = modnets
	url = https://github.com/tswanson222/modnets
[submodule "sampleVADIR"]
	path = sampleVADIR
	url = https://github.com/tswanson222/samplevadir
